h2 {
	color: red;
	font-family: "Papyrus", Andale Mono, sans-serif; 
}
p {
	color: blue;
	font-family: "Courier", Andale Mono, sans-serif;
	font-size: 24px;
}
img {
	width: 101px;
}
body {
	background-image: url("https://media.giphy.com/media/81KxJC7vco8VO/giphy.gif");
}